* {
  box-sizing: border-box;
  cursor: url("/cursor/pointer_scifi_b.png") 0 0, auto;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

button, svg, .hand-cursor * {
  cursor: url("/cursor/hand_point.png") 0 0, auto !important;
}

@keyframes cardDealIn {
  from {
    opacity: 0;
    transform: translateY(-28px) scale(.98);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
